
.taskContainer{
    display: flex;
    margin-top: 5%;
  }
  
  .headingFont{
    font-size: 20px;
    background: whitesmoke;
  }
  
  .taskBody{
    margin: 30px;
  }
  .taskContainerBorder{
    border: 2px solid whitesmoke;
    padding: 1%;
    margin-right: 1%;
    border-radius: 3%;
    height: 450px;
    overflow-y: scroll;
    background-color: aliceblue;
  }

  .clickPointer{
     cursor: pointer
  }

  .circle{
    border-radius: 50%;
    width: 42px;
    height: 39px;
    padding: 5px;
    background: wheat;
    border: 1px solid #000;
    color: #000;
    text-align: center;
    font-size: 14px;
  }

  .boldHeader{
   font-weight: bold;
  }

  .displayHeader{
    display: flex
  }
  .displayHeaderSize{
    flex-basis: 50em;
  }