
$myDisplay: flex;
$margPer: 3%;
$padPer: 1%;
.taskContainer{
    display: $myDisplay;
  }
  
  .taskBody{
    margin: $margPer;
  }
  .taskContainerBorder{
    border: 2px solid whitesmoke;
    padding: $padPer;
    margin-right: $padPer;
    border-radius: $margPer;
    height: 450px;
    overflow-y: scroll;
    background-color: aliceblue;
  }

  .clickPointer{
     cursor: pointer
  }

  .displayHeader{
    display: $myDisplay
  }
  .displayHeaderSize{
    flex-basis: 50em;
    font-weight: bold;
  }